body {
    background-image: url(../img/Login_SCi_NEXT.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

* {
    font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-radius: 40px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    color: black;
    margin: 0 0 20px 0;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group .input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 24px;
    pointer-events: none;
}

.input-group input {
    padding-left: 45px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #000000;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

label {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888888;
    transition: 0.2s;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    top: 0px;
    left: 45px;
    font-size: 14px;
    color: #ffffff;
    background: #000000;
    border-radius: 6px;
    padding: 0 5px;
}

button {
    background: #222222;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    transition: background 0.3s;
    margin-top: 10px;
    font-weight: 500;
}

button:hover {
    background: #000000;
}

button span.material-icons {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 24px;
}