/* ==== GLOBAL STYLES ==== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', 'Noto Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f1f1f1;
}

/* ==== SEARCH BAR ==== */
.search-bar {
    padding: 5px 12px 15px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.search-bar .logo-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 4px;
}

.search-bar .logo-container .logo {
    width: 20px;
    height: 20px;
    display: block;
}

.search-bar .logo-container h1 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.search-bar input {
    width: 100%;
    padding: 6px 15px;
    border: 1px solid #cccccc;
    border-radius: 12.5px;
    font-size: 16px;
}

/* ==== OVERLAY ==== */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}

/* ==== CART POPUP ==== */
.cart-popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100vw;
    max-height: 80vh;
    background: #ffffff;
    border-radius: 30px 30px 0 0;
    padding: 16px;
    transition: bottom 0.1s ease;
    z-index: 12;
    display: flex;
    flex-direction: column;
}

.cart-popup.show {
    bottom: 0;
}

@media (max-width: 480px) {
    .cart-popup {
        padding: 10px;
    }

    .cart-popup-header {
        font-size: 1.1rem;
    }
}

.cart-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0;
}

.cart-popup-header strong {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.cart-popup-header button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.cart-popup-items {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 50vh;
    margin-bottom: 10px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

.total-price .highlight-price {
    color: #4CAF50;
}

#cart-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

#cart-items .item img {
    width: 50px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 10px;
}

.quantity-controls button {
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.1s ease;
    padding: 8px 4px;
}

.quantity-controls span {
    min-width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.quantity-controls button .material-symbols-outlined {
    font-size: 20px;
    vertical-align: middle;
}

.empty-cart-msg {
    text-align: center;
    padding: 20px;
    color: #999;
    font-style: italic;
}

#product-preview {
    display: none;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #4CAF50;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3), 0 0 10px rgba(76, 175, 80, 0.6);
    font-weight: bold;
    font-size: 1rem;
    z-index: 13;
    opacity: 0;
    transition: opacity 0.1s ease, transform 0.1s ease;
}

#payment-options {
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#payment-options button {
    flex: 1;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

#checkout-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: not-allowed;
    opacity: 0.6;
    transition: all 0.1s;
}

#checkout-btn.enabled {
    cursor: pointer;
    opacity: 1;
}

.qr-popup {
    display: none;
    position: fixed;
    z-index: 13;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.qr-popup-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.qr-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.product-grid {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 10px;
    align-content: start;
}

.product-card {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px;
    transition: transform 0.1s;
    cursor: pointer;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 14px;
    border-radius: 12.5px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 1;
}

.low-stock {
    background-color: rgba(255, 165, 0, 0.8);
}

.out-of-stock {
    background-color: rgba(255, 0, 0, 0.8);
}

.product-card.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.product-card h3 {
    font-weight: 400;
    margin: 6px 0;
}

.product-card p {
    font-size: 18px;
    color: #4CAF50;
    font-weight: bold;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* ==== BOTTOM NAVBAR ==== */
.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    padding: 8px 10px 12px;
    z-index: 10;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.nav-button.scan-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    z-index: 2;
}

.nav-button .icon-circle {
    border-radius: 50%;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.nav-button .icon-circle .material-symbols-outlined {
    font-size: 32px;
    color: #000000;
}

.scan-button .icon-circle {
    background-color: #000000;
    width: 70px;
    height: 70px;
}

.scan-button .icon-circle .material-symbols-outlined {
    font-size: 36px;
    color: #ffffff;
}

.nav-button .btn-label {
    font-size: 14px;
    color: #000000;
    margin-top: 8px;
}

.nav-button.cart .icon-circle {
    position: relative;
}

.nav-button.cart .cart-count {
    position: absolute;
    top: -5px;
    right: 1px;
    width: 20px;
    height: 20px;
    background-color: crimson;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-button:nth-child(2) {
    margin-right: 50px;
}

.nav-button:nth-child(4) {
    margin-left: 50px;
}

/* ==== SCANNER ==== */
#reader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.99);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    overflow: hidden;

    #scanner-title {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 20px;
        font-weight: bold;
        z-index: 1001;
    }

    #reader {
        width: 100% !important;
        height: 100% !important;
        max-width: none !important;
        max-height: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #close-scanner {
        position: absolute;
        top: 20px;
        right: 5px;
        background-color: transparent;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 1001;

        span {
            font-size: 40px;
            color: #ffffff;
        }
    }

    #scanner-instruction {
        position: absolute;
        bottom: 200px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        z-index: 1001;
        padding: 0 20px;
    }
}

#reader-container #qr-shaded-region {
    border-width: 260px 20px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.6) !important;
    clip-path: inset(0 round 25px);
    position: relative;
    overflow: hidden;
}

#reader-container #qr-shaded-region::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #ffffff;
    pointer-events: none;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.filter-dropdown {
    position: absolute;
    bottom: 156%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    border-radius: 15px;
    display: block;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.1s ease, transform 0.1s ease;
    min-width: 120px;
    z-index: 1000;
}

.filter-dropdown.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.filter-dropdown button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin: 4px 0;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 12.5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.1s ease;
}

.filter-dropdown button:hover {
    background-color: #111111;
}